@model NotificationUI.Models.CustomerAlertSetting;

@{
    ViewData["Title"] = "EditCstAlertSetting";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string[] spt = { };
}

<div class="portlet light portlet-fit portlet-datatable bordered">

<div class="modalspinner" style="display: none">
    <div class="centerspinner">
        <img alt="" src="/loaders/spinner.gif" />
        Please wait ....
    </div>
</div>
     
<div class="portlet light portlet-fit portlet-datatable bordered">  
     
    <div class="portlet-body">
          <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">EDIT CUSTOMER ALERT SETTING</span>
        </div>
        <br />
        <div class="form-body">  
            <div class="table-container vert">  
                <span id="feedbackMsg" style="display: none"></span><br />               
                <form class="form_edit_cst_alert_setting">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">
                        <div class="form-group" style="display:none;">
                            <label class="control-label">ID</label>
                            <input id="id" name="id" value="@Model.id" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Customer ID</label>
                            <input  id="customer_id" name="customer_id" class="form-control" value="@Model.customer_id" readonly />
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Customer Name</label>
                            <input  id="customer_name" name="customer_name" class="form-control" value="@Model.customer_name" />
                        </div>
                        
                        <div class="form-group">
                            <label  class="control-label">Percentage Alert</label>
                            <input id="percentage_alert" name="percentage_alert" class="form-control numericsonly" value="@Model.percentage_alert" />
                        </div>

                        <div class="form-group">
                            <label>If you'd like to add an email, do it below here, if not, just ignore</label>
                            <label  class="control-label">Add Email to List</label>
                            <input type="text" id="add_email_list" class="form-control" placeholder ="add email to list" />
                             <br />
                            <button type="submit" class="btn btn-primary pull-right btnAddEmailtoList" >Add Email </button>                          
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email Address</label>    
                            <select id="emAddress" name="email_address" class="form-control" multiple="multiple"  size="8" asp-items="@Model.Email_Lists"> </select>
                             <br />
                            <button type="submit" class="btn btn-primary pull-right btnEditEmailLst" >Edit Email </button> 
                        </div>

                         <div class="form-group nodisplay" id="editEmaildiv">
                            <label  class="control-label">Edit Email List</label>
                            <input type="text" id="edit_email_list" class="form-control" placeholder ="edit email on list" />
                            <br />
                            <button type="submit" class="btn btn-primary pull-right btnAddEditedEmailtoList" >Edit </button>                          
                        </div>
                          <br />

                        <div class="form-group">
                            <label  class="control-label"> Policy Id</label>
                            <input id="txtPolId" name="pol_id" class="form-control" value="@Model.pol_id" />
                        </div>
                                                            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Pool Number</label>
                            <input id="poolNo" name="pool_number" class="form-control" value="@Model.pool_number" readonly />
                        </div>

                        <div class="form-group">
                            <label  class="control-label">Country Code</label>
                            <input  id="country_code" name="country_code" class="form-control" value="@Model.country_code" readonly/>
                        </div>                       
                        <div class="form-group">
                            <label  class="control-label"> Inpatient Alert</label>                           
                             <select  id="inPAlert" name="inpatient_alert" class="form-control">
                                    <option value="0" disabled selected > --- select --- </option>
                                    @if (Model.inpatient_alert == 1)
                                    {
                                        <option value="1" selected > True </option>
                                        <option value="0" > False </option> 
                                    }
                                    else
                                    {
                                        <option value="0" selected > False </option> 
                                        <option value="1" > True </option>
                                    }
                            </select> 
                        
                        </div> 
                        <div class="form-group">
                            <label  class="control-label">Inpatient Weekly Alert</label>
                            <select  id="inpatient_weekly_alert" name="inpatient_weekly_alert" class="form-control">
                                 <option value="0" disabled selected > --- select --- </option>
                                    @if (Model.inpatient_weekly_alert == 1)
                                    {
                                        <option value="1" selected > True </option>
                                        <option value="0" > False </option> 
                                    }
                                    else
                                    {
                                        <option value="0" selected > False </option> 
                                        <option value="1" > True </option>
                                    }
                           </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Customer Code</label>
                            <input id="cstCode" name="customer_code" class="form-control" value="@Model.customer_code" />
                        </div>
                            <div class="form-group">
                            <label  class="control-label">Member Percentage Utilization</label>
                            <select id="member_perc_util" name="member_perc_util" class="form-control">
                                <option value="0" disabled selected > --- select --- </option>
                                @if (Model.member_perc_util == 1)
                                {
                                    <option value="1" selected > True </option>
                                    <option value="0" > False </option> 
                                }
                                else
                                {
                                    <option value="0" selected > False </option> 
                                    <option value="1" > True </option>
                                }
                            </select>
                                    
                        </div> 
                         <div class="form-group">
                            <label class="control-label">Scheme Utilization Index</label>                           
                             <select id="scheme_util_index" name="scheme_util_index" class="form-control">
                                    <option value="0" disabled selected > --- select --- </option>
                                    @if (Model.scheme_util_index == 1)
                                    {
                                        <option value="1" selected > True </option>
                                        <option value="0" > False </option> 
                                    }
                                    else
                                    {
                                        <option value="0" selected > False </option> 
                                        <option value="1" > True </option>
                                    }
                              </select>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Ip Alert Email</label>
                            <input id="txtIpAlertEmail" name="ip_alert_email" class="form-control"  value="@Model.ip_alert_email"/>
                        </div>
                        <div class="form-group">
                            <label  class="control-label"> Full Member Utilization</label>
                            <select id="full_member_util" name="full_member_util" class="form-control">
                                <option value="0" disabled selected > --- select --- </option>
                                @if (Model.full_member_util == 1)
                                {
                                    <option value="1" selected > True </option>
                                    <option value="0" > False </option> 
                                }
                                else
                                {
                                    <option value="0" selected > False </option> 
                                    <option value="1" > True </option>
                                }
                            </select>                         
                        </div>

                        <div class="form-group">
                            <label  class="control-label">Full Member Utilization Shared</label>                           
                             <select id="full_member_util_shared" name="full_member_util_shared" class="form-control">
                                    <option value="0" disabled selected > --- select --- </option>
                                    @if (Model.full_member_util_shared == 1)
                                    {
                                        <option value="1" selected > True </option>
                                        <option value="0" > False </option> 
                                    }
                                    else
                                    {
                                        <option value="0" selected > False </option> 
                                        <option value="1" > True </option>
                                    }
                            </select>   
                        </div>                       
                    </div>
                    <div class="col-md-4">  
                         
                        <div class="form-group">
                            <label  class="control-label">Full Member Utilization Email</label>
                            <input id="fullMbrUtilEml" name="full_member_util_email" class="form-control" value="@Model.full_member_util_email" />
                        </div> 
                     
                        <div class="form-group">
                            <label class="control-label">Split Report To Mult Sheets</label>
                            <select  id="splitToMultiSs" name="split_report_into_multiple_sheets" class="form-control">
                                <option value="0" disabled selected > --- select --- </option>
                                @if (Model.split_report_into_multiple_sheets == 1)
                                {
                                    <option value="1" selected > True </option>
                                    <option value="0" > False </option> 
                                }
                                else
                                {
                                    <option value="0" selected > False </option> 
                                    <option value="1" > True </option>
                                }
                              </select>                       
                        </div>

                        <div class="form-group">
                            <label class="control-label">Percentage Report Frequency</label>
                            <input id="rprtFreq" name="perc_report_frequency" class="form-control numericsonly" value="@Model.perc_report_frequency" />
                        </div>
                        <div class="form-group">
                             <label class="control-label">Include Category Description</label>                         
                             <select id="inclCatDescr" name="include_cat_desc" class="form-control">
                                <option value="0" disabled selected> --- select --- </option>
                                @if (Model.include_cat_desc == 1)
                                {
                                    <option value="1" selected > True </option>
                                    <option value="0" > False </option> 
                                }
                                else
                                {
                                    <option value="0" selected > False </option> 
                                    <option value="1" > True </option>
                                }
                            </select>  

                        </div>
                        <div class="form-group">
                            <label class="control-label">Include Utilization Summary</label>                           
                            <select  id="inclUtilSummry" name="include_util_summary"  class="form-control">
                                <option value="0" disabled selected > --- select --- </option>
                                @if (Model.include_util_summary == 1)
                                {
                                    <option value="1" selected > True </option>
                                    <option value="0" > False </option> 
                                }
                                else
                                {
                                    <option value="0" selected > False </option> 
                                    <option value="1" > True </option>
                                }
                            </select> 
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit Edit" class="btn btn-primary pull-left btnEditAlertSetting" />
                            <a class="btn btn-primary pull-right" asp-controller="Home" asp-action="ViewCustomerAlertSetting">  Back </a>
                        </div>
                    </div>
                </form>
                
                <br />   <br />   <br />   <br />
            </div>
        </div>
    </div>
</div>
</div>

