@using System.Globalization
@model IEnumerable<NotificationUI.Models.SentStatement>

@{
    ViewData["Title"] = "ViewSentStatement";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    CultureInfo culture = new CultureInfo("en-US");
}

<p> <a asp-action="Create">Create New</a> </p>
<div class="panel panel-default" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong> Sent Statements</strong>
                    <span id="feedbackMsg" style="display: none"></span><br />
                        <div class="form-body">
                            <div class="table-container scroll">
                                <table class="table table-striped table-bordered tbl_datatable responsive" id="tbl_sent_statement">                                   
                                    <thead>
                                        <tr>
                                            <th class="nodisplay"> Id</th>
                                            <th> Email Object </th>
                                            <th> Insert Date </th>
                                            <th> Sent  </th>
                                            <th> Sent Date  </th>
                                            <th> Pol Id     </th>
                                            <th> Family Code  </th>
                                            <th> Sent Log  </th>                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {
                                            <tr>
                                                <td class="nodisplay"> @Html.DisplayFor(modelItem => item.id) </td>
                                                <td>
                                                    <textarea size="15" style="width: 450px" class="form-control" readonly>@item.email_object.Trim()</textarea>                                                    
                                                </td>
                                                <td> @DateTime.Parse(item.insert_date.ToString(), culture.DateTimeFormat).ToShortDateString() </td>
                                                <td>
                                                     @if(item.sent ==1)
                                                     {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }  
                                                </td>
                                                <td> @Html.DisplayFor(modelItem => item.send_date) </td>
                                                <td> @Html.DisplayFor(modelItem => item.pol_id)</td>
                                                <td> @Html.DisplayFor(modelItem => item.family_code) </td>
                                                <td> @Html.DisplayFor(modelItem => item.sent_log) </td>                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                 </div>
                         </div>
                   </div>
              </div>
         </div>
    </div>
</div>
