@using System.Globalization
@model IEnumerable<NotificationUI.Models.SchemeUtilAlertModel>

@{
    ViewData["Title"] = "ViewSchemeUtilAlert";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    CultureInfo culture = new CultureInfo("en-US");
}

<div class="panel panel-default" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong> Scheme Util Alerts</strong>
                    <span id="feedbackMsg" style="display: none"></span><br />
                        <div class="form-body">
                            <div class="table-container scroll">
                                    <table class="table table-striped table-bordered tbl_datatable responsive" id="tbl_scheme_util_alerts">
                                        <thead>
                                            <tr>
                                                <th class="nodisplay">id </th>
                                                <th> Customer </th>
                                                <th> Policy ID </th>
                                                <th> Scheme  </th>
                                                <th> Allocation </th>
                                                <th> Expenditure </th>                                               
                                                <th> Member Count </th>
                                                <th> Member Utilization Count </th>
                                                <th> Customer Id </th>
                                                <th> Benefit Type </th>
                                                <th> Insert Date </th>                                            
                                                <th> Country Code </th>                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model) {
                                                <tr>                                                  
                                                    <td class="nodisplay"> @Html.DisplayFor(modelItem => item.id) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.Customer) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.policy_id) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.Scheme) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.Allocation) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.Expenditure) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.member_count) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.member_util_count) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.customer_id) </td>
                                                    <td> @Html.DisplayFor(modelItem => item.benefit_type) </td>
                                                    <td> @DateTime.Parse(item.insert_date.ToString(), culture.DateTimeFormat).ToString("dd/MM/yyyy HH:mm:ss") </td>
                                                    <td> @Html.DisplayFor(modelItem => item.country_code)</td>                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                               </div>
                         </div>
                  </div>
               </div>
         </div>
     </div>
</div>
