@using System.Globalization
@model IEnumerable<NotificationUI.Models.CustomerAlertSetting>

@{
    ViewData["Title"] = "ViewCustomerAlertSetting";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    CultureInfo culture = new CultureInfo("en-US");
}

<section class="content container-fluid">

<div class="panel panel-default" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong> Customer Alert Setting</strong>
                    <span id="feedbackMsg" style="display: none"></span><br />
                        <div class="form-body">
                                <div class="table-container scroll">
                                     <table class="table table-striped table-bordered responsive wrap" id="tbl_cstalert_setting">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="display:none;">id </th>
                                                <th><label>Customer ID</label></th>
                                                <th><label>Customer Name</label> </th>                                               
                                                <th><label>Percentage Alert ( % )</label>  </th>
                                                <th><label>Email Addresses</label> </th>
                                                <th><label>Pol Id</label>  </th>
                                                <th><label>Pool Number</label>  </th>
                                                <th><label>Country Code</label>  </th>
                                                <th><label>Inpatient Alert</label>  </th>
                                                <th><label>Inpatient Weekly Alert</label> </th>
                                                <th><label>Customer Code</label>  </th>
                                                <th><label>Member Percentage Utilization</label>  </th>
                                                <th><label>Scheme Util Index</label>   </th>
                                                <th><label>Ip Alert Email</label>   </th>
                                                <th><label>Full Member Util</label>  </th>
                                                <th><label>Full Member Util Shared</label>  </th>
                                                <th><label>Full Member Util Email</label>   </th>                                               
                                                <th><label>Split Report In Multiple Sheets</label> </th>
                                                <th><label>Percent Report Frequency</label>  </th>
                                                <th><label>Include Category Discription</label>  </th>
                                                <th><label>Include Util Summary</label>  </th>                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model) {
                                            <tr>
                                                <td> @Html.ActionLink("Edit", "EditCstAlertSetting", new {  id =item.id  }) </td>
                                                <td style="display:none"> @Html.DisplayFor(modelItem => item.id)</td>
                                                <td> @Html.DisplayFor(modelItem => item.customer_id) </td>
                                                <td> @Html.DisplayFor(modelItem => item.customer_name) </td>                                               
                                                <td> @Html.DisplayFor(modelItem => item.percentage_alert) </td>
                                                <td style="width: 200px!important;">
                                                    <textarea readonly class="noborder form-control">
                                                        @Html.DisplayFor(modelItem => item.email_address)
                                                    </textarea>
                                                </td>
                                                <td> @Html.DisplayFor(modelItem => item.pol_id) </td>
                                                <td> @Html.DisplayFor(modelItem => item.pool_number)</td>
                                                <td> @Html.DisplayFor(modelItem => item.country_code) </td>
                                                <td> 
                                                    @if(item.inpatient_alert == 1)
                                                    {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }                                                    
                                                </td>
                                                <td> 
                                                    @if(item.inpatient_weekly_alert==1)
                                                     {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }  
                                                </td>
                                                <td> @Html.DisplayFor(modelItem => item.customer_code) </td>
                                                <td> 
                                                    @if(item.member_perc_util ==1) 
                                                     {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    } 
                                                </td>
                                                <td>                                                   
                                                    @if (item.scheme_util_index == 1)
                                                    {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }      
                                                </td>
                                                <td> 
                                                    <input readonly class="noborder form-control" type="text" value="@Html.DisplayFor(modelItem => item.ip_alert_email)">
                                                </td>
                                                <td>                                                     
                                                    @if (item.full_member_util == 1)
                                                    {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }  
                                                </td>
                                                <td>                                                    
                                                    @if (item.full_member_util_shared == 1)
                                                     {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }  
                                                </td>

                                                <td>
                                                   <textarea readonly class="noborder form-control">
                                                       @Html.DisplayFor(modelItem => item.full_member_util_email)
                                                   </textarea>
                                                </td>                                              
                                                <td> 
                                                    @if(item.split_report_into_multiple_sheets ==1)
                                                     {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    }                                                
                                                </td>
                                                <td>                                                   
                                                    @if (item.perc_report_frequency ==1)
                                                    {
                                                       <label>Weekly</label> 
                                                    }
                                                      @if (item.perc_report_frequency ==2)
                                                    {
                                                       <label>Monthly</label> 
                                                    }
                                                      @if (item.perc_report_frequency ==3)
                                                    {
                                                       <label>quarterly</label> 
                                                    }
                                                      @if (item.perc_report_frequency ==4)
                                                    {
                                                       <label>Halfyear</label> 
                                                    }
                                                </td>
                                                <td> 
                                                    @if(item.include_cat_desc == 1)
                                                    {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    } 
                                                </td>
                                                <td> 
                                                    @if(item.include_util_summary ==1)
                                                    {
                                                        <div class="custom-control custom-checkbox">
                                                            <input  type="checkbox" class="custom-control-input" checked="checked" disabled />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                      <div class="custom-control custom-checkbox">
                                                        <input  type="checkbox" class="custom-control-input" disabled />
                                                      </div>
                                                    } 
                                                </td>                                               
                                            </tr>
                                           }       
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                 </div>
              </div>
           </div>
     </div>
</div>
</section>
